button.edit-event-dets-btn {
    background-color: #6786A3;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}
<<<<<<< HEAD
=======

.popup {
    padding-left: 9vw;
}
>>>>>>> ccf33a0317affe2740c217ec32d58adb1167cd14
